.jumbotron {
  background-color: green;
  color: white;
  font-family: Helvetica;
}

.device-offline {
  opacity: 0.3;
}

.device-icon {
  width: auto;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
