body {
  font-family: Helvetica;
  display:flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.device-container {
  flex: 3;
  overflow: scroll;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.log-container {
  display: flex;
  flex: 2;
  margin-bottom: 0;
}

.log-container .panel {
  display:flex;
  flex: 1;
  flex-direction:column;
}

.log-container .panel-body {  
  flex: 1;
  display: flex;
  flex-direction: column;
}

.log-container .panel-body pre {
  height: 100%;
}

.panel, .panel-body {
  margin-bottom: 0;
  padding-bottom: 0;
}


header {
  text-align: center;
  background-color: black;
  font-size: 24px;
  color: white;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.update-container {
  background-color: green;
  color: white;
}

.device {
  width: 150px;
  padding: 10px;
  text-align: center;
}

.device-offline {
  opacity: 0.3;
}

.device-icon {
  width: auto;
  height: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
