@import url('../bower_components/font-awesome/css/font-awesome.css');
@import url('../bower_components/sweetalert/lib/sweet-alert.css');
@import url('../bower_components/angular-material/angular-material.css');
@import url('../bower_components/angular-material/themes/light-blue-dark-theme.css');
@import url('../bower_components/angular-material/themes/yellow-theme.css');


.device-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 100;
}

.device-icon.muted {
  opacity: 0.3;
}
