<html ng-app="gateblu-ui">
<head>
  <script type="text/javascript" src="dist/dependencies.js"></script>
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <script type="text/javascript" src="dist/application.js"></script>
</head>

<body ng-controller="MainController" layout="vertical">
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>{{gateblu.name || 'Gateblu'}}</span>
    </h2>
  </md-toolbar>

  <span flex></span>

  <div ng-if="!connected">
    <div layout="horizontal" layout-align="center">
      <md-progress-circular mode="indeterminate"></md-progress-circular>
      <h1>Connecting to Octoblu...</h1>
    </div>
  </div>

  <div ng-if="!updateAvailable" style="height: 300px;" layout="horizontal" layout-align="space-around center" layout-padding>
    <div flex>
      <h1>Updates Available</h1>
      <p>There is a new version of Gateblu available.</p>
    </div>
    <div flex>
      <a href="https://gateblu.octoblu.com" class="btn btn-primary btn-lg external-link">Download &raquo;</a>
    </div>
  </div>

  <md-content class="md-padding" layout="vertical" layout-align="center">
    <div ng-if="connected" layout="horizontal" style="flex-wrap: wrap;" layout-padding>
      <div ng-repeat="device in devices" flex style="min-width: 300px; height: 400px;">
        <div layout="vertical" class="md-whiteframe-z2" layout-fill layout-padding>
          <div flex>
            <h2>{{device.name || 'Initializing...'}}</h2>
            <hr>
          </div>
          <div flex class="device-icon" ng-style="{'background-image': 'url(' + device.icon_url + ')'}">
          </div>
          <div flex style="flex: 0; height: 50px;">
            <md-button class="md-primary">Power</md-button>
            <md-button>Details</md-button>
          </div>
        </div>
      </div>
    </div>
  </md-content>

  <div ng-show="showLogs">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">
        <span>Activity</span>
      </h1>
    </md-toolbar>

    <md-content>
      <md-list ng-controller="LogController">
        <md-item ng-repeat="log in logs">
          <md-item-content>
            <div class="md-tile-content">
              <h3>{{log.message}}</h3>
              <p>{{log.timestamp | date : 'mediumTime'}}</p>
            </div>
          </md-item-content>
          <md-divider ng-if="!$last"></md-divider>
        </md-item>
      </md-list>
    </md-content>
  </div>

  <span flex></span>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>~{{gateblu.uuid}}</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>
  
      <md-button ng-click="showDevConsole(null)">
        Debug
      </md-button>
      <md-button ng-click="showLogs = !showLogs">
        View Activity
      </md-button>
    </div>
  </md-toolbar>
</body>
</html>
