body {
  font-family: Helvetica;
  display:flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.device-container {
  flex: 3;
  overflow: scroll;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.backend-install-container {
  flex: 3;
  overflow: scroll;
  margin-bottom: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.backend-install-container p {
  font-family: Helvetica, sans;
  font-size: 2.5em;
  text-align: center;
}

.backend-install-container a {
  background-color: #259b24;
  padding: 5px 15px;
  color: white;
}

.backend-install-container i.big-icon {
  color: orange;
}

.connecting-container {
  flex: 3;
  overflow: scroll;
  margin-top: -64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #333;
  color: #ddd;
  align-items: center;
}

.log-container {
  display: flex;
  flex: 2;
  margin-bottom: 0;
}

.log-container .panel {
  display:flex;
  flex: 1;
  flex-direction:column;
}

.log-container .panel-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.log-container .panel-body pre {
  height: 100%;
}

.log-error {
  color: red !important;
}

.panel, .panel-body {
  margin-bottom: 0;
  padding-bottom: 0;
}

.update-container {
  background-color: green;
  color: white;
}

.meshblu-disconnected {
  background-color: red;
  color: white;
}

.device {
  width: 150px;
  padding: 10px;
  text-align: center;
}

.device-offline {
  opacity: 0.3;
}

.device-buttons .btn-link {
  color: white;
  padding: 2px;
}

.lucky-robot {
  width: auto;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.device-icon {
  width: auto;
  height: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gateway-uuid {
  white-space: nowrap;
}

footer .gateway-uuid {
  flex: 1;
}

footer .drawer-controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


.grid-device-container md-icon, .grid-device-container img.icon {
  width: 80%;
  height: 80%; }

.grid-device-container md-grid-tile-footer p {
  font-size: 0.9em;
  padding: 3px 0 0 15px;
}
.grid-device-container md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.grid-device-container .s64 {
  font-size: 64px; }
.grid-device-container .s32 {
  font-size: 48px; }
.grid-device-container md-icon.fa {
  display: block;
  padding-left: 0; }
.grid-device-container md-icon.s32 span {
  padding-left: 8px; }
.grid-device-container md-grid-list {
  margin: 8px; }
.grid-device-container md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.grid-device-container md-grid-tile md-icon {
  padding-bottom: 32px; }
.grid-device-container md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.grid-device-container md-grid-tile-footer figcaption {
  width: 100%; }
.grid-device-container md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }

.add-device-button {
  padding-top: 13;
  padding-right: 0;
  margin-right: 0;
}

.fa.muted {
  color: #333;
}

.device-icon-png {
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.claim-gateblu-button-icon {
  float:right;
  padding-right: 10px;
}

.destructive-icon {
  color: rgb(255,193,7);
}

.icon-green {
  color: rgb(76,175,80);
}

.icon-yellow {
  color: gold;
}
