<html ng-app="gateblu-ui">
<head>
  <link rel="stylesheet" type="text/css" href="dist/css/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="dist/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script type="text/javascript" src="dist/js/jquery.min.js"></script>
  <script type="text/javascript" src="dist/js/angular.min.js"></script>
  <script type="text/javascript" src="dist/js/angular-animate.min.js"></script>
  <script type="text/javascript" src="dist/js/angular-aria.min.js"></script>
  <script type="text/javascript" src="dist/js/angular-material.min.js"></script>
  <script type="text/javascript" src="dist/application.js"></script>
  <title>Gateblu</title>
</head>

<body ng-controller="MainController" drop-meshblu-json id='holder'>
  <md-content>
    <md-toolbar ng-if="!fullscreen || fullscreen.menu">
      <div class="md-toolbar-tools">
        <h2>
          <span>{{gateblu.name || 'Gateblu'}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Info" title="Gateblu Info" ng-click="toggleInfo()">
          <i class="fa fa-lg fa-info"></i>
        </md-button>
        <md-button class="md-icon-button dev-tools" title="Debugger" aria-label="Debugger">
          <i class="fa fa-lg fa-bug"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="View Log" title="View Log" ng-click="showMainLog()">
          <i class="fa fa-lg fa-file-text-o"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Stop Service" title="Stop Service" ng-click="stopService()" ng-if="gatebluConfig.online">
          <i class="fa fa-lg fa-power-off icon-green"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Start Service" title="Start Service" ng-click="startService()" ng-if="!gatebluConfig.online">
          <i class="fa fa-lg fa-power-off muted"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Hard Restart" title="Hard Restart" ng-click="hardRestartGateblu()">
          <i class="fa fa-lg fa-bolt" ng-class="{'muted': !gatebluConfig.online, 'icon-yellow': gatebluConfig.online}"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Reset" title="Gateblu Reset" ng-click="resetGateblu()">
          <i class="fa fa-lg fa-trash-o destructive-icon"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar md-theme="info" ng-show="showInfo">
      <div class="md-toolbar-tools">
        <h2>
          <b>UUID:</b> ~{{gateblu.uuid}}
        </h2>
        <span flex></span>
        <h2>
          <b>Service Version</b>: {{serviceVersion}}<br>
          <b>UI Version</b>: {{uiVersion}}
        </h2>
      </div>
    </md-toolbar>

    <md-toolbar md-theme="warning" ng-if="!gatebluConfig.online && !fullscreen">
      <div class="md-toolbar-tools">
        <h2>
          <i class="fa fa-exclamation-triangle"></i>
          <span class="md-flex">Gateblu Service is not running!</span>
        </h2>
      </div>
    </md-toolbar>

    <md-toolbar md-theme="warning" ng-show="serviceUpdateAvailable">
      <div class="md-toolbar-tools">
        <h2>
          <i class="fa fa-exclamation-triangle"></i>
          <span>
            Gateblu Service has an update available! (v{{newServiceVersion}})
          </span>
        </h2>
        <span flex></span>
        <md-button ng-href="{{serviceInstallerLink}}" class="external-link md-button md-raised" aria-label="Install">
          <i class="fa fa-lg fa-download"></i> Install
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar md-theme="warning" ng-show="uiUpdateAvailable">
      <div class="md-toolbar-tools">
        <h2>
          <i class="fa fa-exclamation-triangle"></i>
          <span>
            Gateblu has an update available! (v{{newUiVersion}})
          </span>
        </h2>
        <span flex></span>
        <md-button ng-href="{{uiInstallerLink}}" class="external-link md-button md-raised" aria-label="Install">
          <i class="fa fa-lg fa-download"></i> Install
        </md-button>
      </div>
    </md-toolbar>

    <div class="backend-install-container" ng-if="!isInstalled" flex layout-fill>
      <i class="fa fa-5x fa-exclamation-triangle big-icon"></i>
      <p>Gateblu Service is not installed!</p>

      <md-button ng-href="{{serviceInstallerLink}}" class="external-link md-button md-raised" aria-label="Install">
        <i class="fa fa-lg fa-download"></i> Install
      </md-button>
    </div>

    <log ng-if="(showLog && !fullscreen) || (showLog && fullscreen.menu)" log-lines="logLines" device-uuid="showingLogForDevice" title="logTitle"></log>
    <full-screen-message ng-if="fullscreen" message="fullscreen.message" spinner="fullscreen.spinner" button-title="fullscreen.buttonTitle" event-name="fullscreen.eventName"></full-screen-message>
    <device-list ng-show="!showLog && !fullscreen" devices="devices"></device-list>

  </md-content>
</body>
</html>
