<html ng-app="gateblu-ui">
<head>
  <link rel="stylesheet" type="text/css" href="dist/css/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="dist/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script type="text/javascript" src="dist/js/jquery.min.js"></script>
  <script type="text/javascript" src="dist/js/lodash.min.js"></script>
  <script type="text/javascript" src="dist/js/angular.min.js"></script>
  <script type="text/javascript" src="dist/js/angular-animate.min.js"></script>
  <script type="text/javascript" src="dist/js/angular-aria.min.js"></script>
  <script type="text/javascript" src="dist/js/angular-material.min.js"></script>
  <script type="text/javascript" src="dist/application.js"></script>
  <title>Gateblu</title>
</head>

<body ng-controller="MainController">
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>{{gateblu.name || 'Gateblu'}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Info" title="Gateblu Info" ng-click="showInfo = !showInfo">
          <i class="fa fa-info fa-lg"></i>
        </md-button>
        <md-button class="md-icon-button dev-tools" title="Debugger" aria-label="Debugger">
          <i class="fa fa-bug fa-lg"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="View Log" title="View Log" ng-click="showLogs = !showLogs">
          <i class="fa fa-file-text-o fa-lg"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar md-theme="info" ng-show="showInfo">
      <span flex></span>
      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">Gateblu UUID: ~{{gateblu.uuid}}</span>
      </h2>
    </md-toolbar>

    <md-content class="log-container" md-theme="logs" layout-fill layout="column" ng-show="showLogs">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Gateblu Logs</span>
          </h3>
        </div>
      </md-toolbar>
      <md-list ng-controller="LogController">
        <md-list-item class="md-3-line" ng-repeat="line in logs">
          <div class="md-list-item-text">
            <h3>{{ line.message }}</h3>
            <p>{{ line.timestamp | date : 'medium' }}</p>
          </div>
          <md-divider inset></md-divider>
        </md-list-item>
      </md-list>
    </md-content>

    <div class="backend-install-container" ng-if="!isInstalled" flex layout-fill>
      <i class="fa fa-5x fa-exclamation-triangle big-icon"></i>
      <p>Gateblu Service is not installed!</p>

      <a ng-href="{{installerLink}}" class="external-link md-button md-raised" aria-label="Install">
        <i class="fa fa-lg fa-download"></i> Install
      </a>
    </div>

    <div class="connecting-container" ng-if="!connected" flex layout-fill>
      <h1 class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i> Connecting to Octoblu...</h1>
    </div>

    <div class="grid-device-container" ng-if="connected" flex>
      <md-grid-list
            md-cols-sm="1" md-cols-md="3" md-cols-gt-md="4"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px" >

        <md-grid-tile ng-if="lucky_robot_url"
                      md-rowspan="1"
                      md-colspan="1"
                      class="gray">
          <img class="icon" ng-src="{{lucky_robot_url}}"></img>
          <md-grid-tile-footer layout-align="end center" layout="row">
            <a href="https://app.octoblu.com/node-wizard" style="float:right" class="add-device-button external-link md-button" aria-label="Add Device">
              <i class="fa fa-plus fa-lg"></i>
            </a>
            <p>Add a Device</p>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ng-repeat="device in devices | orderBy: 'name'"
                      md-rowspan="{{device.row_span}}"
                      md-colspan="{{device.col_span}}"
                      md-colspan-sm="1"
                      ng-style="{ 'background': device.background }">
          <md-icon ng-class="{'device-offline': !device.online}" md-svg-icon="{{device.icon_url}}"></md-icon>
          <md-grid-tile-footer layout-align="end center" layout="row">
            <md-button style="float:right" class="md-icon-button" ng-click="device.showMore = !device.showMore" aria-label="Actions">
              <i class="fa fa-ellipsis-v"></i>
            </md-button>
            <md-button ng-click="showDevice(device)" ng-show="device.showMore" class="md-icon-button" aria-label="Info" title="Info">
              <i class="fa fa-info"></i>
            </md-button>
            <md-button ng-click="toggleDevice(device)" ng-show="device.showMore" class="md-icon-button" aria-label="Stop" title="Start/Stop">
              <i class="fa fa-power-off"></i>
            </md-button>
            <md-button ng-click="deleteDevice(device)" ng-show="device.showMore" class="md-icon-button" aria-label="Delete" title="Delete">
              <i class="fa fa-trash"></i>
            </md-button>
            <p ng-show="!device.showMore">
              {{device.name || 'Initializing...'}}
              <span ng-show="!device.online">(offline)</span>
            </p>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>

  </md-content>
</body>
</html>
