<div class="grid-device-container" flex>
  <md-grid-list
        md-cols-sm="1" md-cols-md="3" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px" >
    <md-grid-tile ng-repeat="device in devices track by $index | orderBy: 'name'"
                  md-rowspan="{{device.row_span}}"
                  md-colspan="{{device.col_span}}"
                  md-colspan-sm="1"
                  ng-style="{ 'background': device.background }">

      <md-icon ng-class="{'device-offline': !device.online}" md-svg-icon="{{device.icon_url}}"></md-icon>

      <md-grid-tile-footer layout="column">
        <p layout-align="center center" layout="row">
          {{device.name || 'Initializing...'}}
          <span ng-show="!device.online"> &nbsp; (offline)</span>
        </p>
        <div class='device-icon-buttons' layout-align="center center" layout="row">
          <md-button ng-click="showDevice(device)" class="md-icon-button" aria-label="Info" title="Info">
            <i class="fa fa-info"></i>
          </md-button>
          <md-button ng-click="showDeviceLog(device)"
            class="md-icon-button" aria-label="Show Logs" title="Show Logs">
            <i class="fa fa-file-text-o">
              <span class="device-logs-badge" ng-class="{'device-error-logs': deviceHasNewError[device.uuid], 'device-logs': deviceHasNewLog[device.uuid]}" />
            </i>
          </md-button>
          <md-button ng-click="deleteDevice(device)" class="md-icon-button" aria-label="Delete" title="Delete">
            <i class="fa fa-trash"></i>
          </md-button>
        </div>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
